<header>
    <div class="container-fluid padding-200 text-center border-bottom">
        <h2 class="margin_bottom_40">Привіт, я Андрій Гагарін</h2>
        <img src="img/me.jpg" class="img-circle img-fixed-w" alt="Gagarin Andrey">
        <h2>І я - веб розробник!</h2>
    </div>
</header>